<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patient Dashboard</title>

  <link rel="stylesheet" href="style.css">

  <!-- MQTT WebSocket -->
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>

  <meta name="theme-color" content="#2563eb">
</head>

<body>
  <div class="dashboard">

    <h1>Patient Dashboard</h1>

    <div class="vital">
      <h2>Heart Rate</h2>
      <p id="heart-rate">-- BPM</p>
    </div>

    <div class="vital">
      <h2>Breathing Rate</h2>
      <p id="breathing-rate">-- breaths/min</p>
    </div>

    <div class="status">
      <h2>Status</h2>
      <p id="status">Waiting for data...</p>
    </div>

  </div>

  <div id="critical-popup" class="popup">
    <div class="popup-content">
      <h2>⚠️ Critical Condition</h2>
      <p>
        Abnormal vital signs detected.<br />
        Please contact the medical team immediately.
      </p>
      <button onclick="closePopup()">Acknowledge</button>
    </div>
  </div>

  
  <script src="script.js"></script>

</body>
</html>
